{% extends "layout.html" %}

{% block title %}
    Certificates
{% endblock %}

{% block main %}

    <link rel="stylesheet" type="text/css" href="static/certificates_style.css">

    <br>
    <br>
    <div class = "container">

        <table class="table table-dark table-hover">

            <thead>
                <th>Course Name</th>
                <th>Download Certificate</th>
            </thead>

            <tbody>
            {% for rows in courses %}

                <tr>
                    {% for key, value in rows.items() %}
                        <td>{{value}}</td>
                        <td>
                        <form method= "post" action="/certificates">
                            <input type="hidden" name="coursename" value= "{{ value }}" />
                            <button class="btn btn-secondary"> Download </button>
                        </form>
                        </td>
                    {% endfor %}

                </tr>

            {% endfor %}
            </tbody>

        </table>

    </div>

{% endblock %}