<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Clider : {% block title %}{% endblock %}</title>

        <!-- Linking Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<!-- Linking CSS Style Sheet  -->
		<link rel="stylesheet" type="text/css" href="static/style.css">

    </head>

    <body>

    	<nav class="navbar navbar-expand-lg navbar-light mynav">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="/">Clider</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="/mycourses">My Courses</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="/createcourses">Create Courses</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="/certificates">Certificates</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="/about">About</a>
		        </li>
		      </ul>

		       <ul class="navbar-nav ml-auto mt-2">
                    <!--<li class="nav-item">-->
                    <!--   	<a class="nav-link active" aria-current="page" href="/register">Register</a>-->
                    <!--</li>-->

					{% if not  session.user_id %}

					<li class="nav-item">
                       	<a class="nav-link active" aria-current="page" href="/register">Register</a>
                    </li>

				    <li class="nav-item">
                       	<a class="nav-link active" aria-current="page" href="/login">Log In</a>
                    </li>

   				    {% else %}

				    <li class="nav-item">
                       	<a class="nav-link active" aria-current="page" href="/logout">Log Out</a>
                    </li>

				    {% endif %}


                    <!--<li class="nav-item">-->
                    <!--   	<a class="nav-link active" aria-current="page" href="/login">Log In</a>-->
                    <!--</li>-->
               </ul>
		  </div>
		</nav>

		 {% block main %}{% endblock %}

		<!-- Linking JS For Bootstrap -->
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>

</html>
